


.main{
    display:grid;
    grid-template-areas: 
    'left middle right';
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}
.right{
    grid-area: right;
    margin-left:50px;
}
.left{
    grid-area: left;
    margin-right:50px;
}

.middle{
    grid-area:middle;
}


.header {
    outline: 1px solid;
    outline-color: #888;
    padding:10px;
    display:grid;
    grid-template-columns: fit-content(60px) auto;
    grid-template-areas: 
        'left right';
}
.header-left {
    grid-area:left;
    font-size: 20px;
    width: 60px;
}
.header-right {
    grid-area:right;
    padding-left:5px
}